<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>New Fee Plan</h2>
      <h5>新規月謝プラン作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @fee_plan, local: true do |f| %>
        <% if @fee_plan.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @fee_plan.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class='field'>
          <div class='field-label'>
            <%= f.label :name, "プラン名" %>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, placeholder: "例：月4回コース" %>
          </div>
        </div>
        
        <div class='field'>
          <div class='field-label'>
            <%= f.label :amount, "金額（円）" %>
          </div>
          <div class='field-input'>
            <%= f.number_field :amount, placeholder: "例：8000" %>
          </div>
        </div>
        
        <div class='actions'>
          <%= f.submit "作成", class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
