<main class="main">
  <div class="inner">
    <div class="greeting">
      <h2>
        月謝計算
      </h2>
      <p>例)1111年1月1日→1111-01-01のように入力してください。</p>
    </div>
    <div class="search_form">
      <%= search_form_for @q, url: student_attendances_search_path do |f| %>
        <%= f.search_field :entry_gteq %>から
        <%= f.search_field :entry_lteq %>まで
        <%= f.submit '検索' %>
      <% end %>
    </div>

    <% if @sum.length != 0 %>
      <% sum_fee = 0%>
      <div class="sum_fee">
        <div class="search_list">
          <% @sum.each do |sum| %>
            <br>
            <%= sum.entry %>・・・
            <%= sum.fee %>円
            <% sum_fee += sum.fee %>
          <% end %>
        </div>
        <h3>
          合計<%= sum_fee %>円
        </h3>
      </div>
    <% else %>
      <div class="null_text">
        <%= "値が存在しません" %>
      </div>
    <% end %>
    <div class="bt_custom">
      <%= link_to "別の月の計算をする", student_attendances_search_path, class: :cell %>
      <%= link_to "管理画面へ戻る", student_attendances_path, class: :cell %>
    </div>
  </div>
</main>